@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header {
  height: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 120px;
}

hr {
  width: 82.5%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.first .container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first .heading .title,
.third .heading .title {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  font-weight: 400;
}

.first .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.first .btn.active,
.second .btn.active {
  border: none;
  outline: none;
  background-color: #0d6efd;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.first .btn,
.second .btn {
  border: none;
  outline: none;
  color: #0d6efd;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.second {
  height: 80px;
  /*background-color: #fff;*/
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.second .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 120px;
}

.second .content {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.third {
  height: 100px;
  /*background-color: #fff;*/
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.third .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.third .middle {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.third .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.third .btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1e21;
  cursor: pointer;
}

.third .btn.active {
  color: #565e64;
}

.third .blue-btn-outline {
  outline: none;
  background-color: #fff;
  border: 1px solid #0d6efd;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #0d6efd;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.third .blue-btn-outline:hover {
  background-color: #0d6efd;
  color: #fff;
}

.third .blue-btn-filled {
  outline: none;
  border: none;
  background-color: #0d6efd;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.third .blue-btn-filled:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.fourth {
  height: 210px;
  background-color: #212529;
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.fourth .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.fourth .right {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.fourth .left {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.fourth .title {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 400;
}

.fourth .lists {
  display: flex;
  align-items: center;
  /*flex-wrap: wrap;*/
  justify-content: center;
  gap: 10px;
}

.fourth .searchbar {
  width: 330px;
  height: 35px;
  border-radius: 4px;
}

.fourth input {
  border: 1px solid #ced4da;
  background-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.fourth .last {
  display: flex;
  gap: 15px;
}

.fourth .white-btn-outline {
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.fourth .white-btn-outline:hover {
  background-color: #fff;
  color: #212529;
}

.fourth .yellow-btn-filled {
  outline: none;
  border: none;
  background-color: #ffc107;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
  font-weight: 400;
  cursor: pointer;
}

.fourth .yellow-btn-filled:hover {
  background-color: #ffca2c;
  border-color: #ffc720;
}

.fourth .lists .btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.fourth .btn.active {
  color: #565e64;
}

.fifth {
  height: 110px;
}

.header-underline {
  width: 100%;
}

.fifth .container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

.fifth .title {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  font-weight: 400;
}

.fifth .container .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.fifth .left .lists {
  display: flex;
  gap: 10px;
}

.fifth .lists .btn {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1e21;
  cursor: pointer;
}

.fifth .btn.active {
  color: #565e64;
}

.fifth .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.searchbar {
  width: auto;
  color: #212529;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile::after {
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.fifth a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #1e2125;
}

.fifth .popup-container {
  position: relative;
}

.fifth .popup-container .popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  top: 37px;
  right: -76px;
  position: absolute;
  width: 160px;
  height: 170px;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  z-index: 1;
  display: none;
}

.fifth .popup-container .popup-item {
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
}

.fifth .popup-container .popup-item:hover {
  background-color: #e9ecef;
}

.fifth .popup-underline {
  width: 100%;
}

.fifth .popup.visible {
  display: flex;
}

.sixth {
  height: 350px;
}

.sixth .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

.sixth .title {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  font-weight: 400;
}

.sixth .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.sixth .heading::after {
  /*margin-left: 0.255em;*/
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.sixth .right {
  display: flex;
  gap: 20px;
}

.sixth .searchbar {
  width: 810px;
  color: #212529;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
}

.sixth .big-box {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 30px;
  padding: 10px 30px;
}

.box {
  background-color: #f8f9fa;
  width: 438px;
  flex: 1 1 33%;
  height: 242px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}

.box-second {
  background-color: #f8f9fa;
  width: 438px;
  flex: 1 1 66%;
  height: 242px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
}

.sixth .popup-container {
  position: relative;
}

.sixth .popup-container .popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  top: 37px;
  right: -76px;
  position: absolute;
  width: 160px;
  height: 215px;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: none;
}

.sixth .popup-underline {
  width: 100%;
}

.sixth .popup-container .popup-item {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-top: 5px;
}

.sixth .popup-container .popup-item.active {
  background-color: #0d6efd;
  pointer-events: none;
}

.sixth a {
  text-decoration: none;
  text-align: center;
  color: #35383c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.sixth .popup-container .popup-item:hover {
  background-color: #e9ecef;
}

.sixth .popup.visible {
  display: flex;
}

@media (max-width: 1200px) {
  .first .container {
    padding: 0 130px;
    justify-content: space-between;
  }

  .fifth .container {
    padding: 0 110px;
  }
}

@media (max-width: 992px) {
  .third .container {
    padding: 0 180px;
    justify-content: space-between;
  }

  .fourth .right {
    display: flex;
    flex-direction: column;
  }

  .fourth .left {
    display: flex;
    flex-direction: column;
  }

  .fifth {
    height: 210px;
  }

  .fifth .container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .fifth .left {
    gap: 5px;
    flex-direction: column;
  }

  .fifth .right {
    gap: 7px;
    flex-direction: column;
  }

  .fifth .right .searchbar {
    width: 600px;
  }
}

@media (max-width: 868px) {
  .first .container {
    justify-content: space-between;
    padding: 0 100px;
  }

  .third {
    height: 100px;
  }

  .third .container {
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 0 30px;
  }

  .third .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third .middle {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .first {
    height: 140px;
  }

  .first .container {
    flex-direction: column;
    padding: 0 100px;
    overflow: hidden;
  }

  .third {
    height: 200px;
  }

  .third .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 30px;
  }

  .third .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third .middle {
    gap: 10px;
  }

  .fourth .right {
    display: flex;
    flex-direction: column;
  }

  .fourth .left {
    display: flex;
    flex-direction: column;
  }

  .fifth .right .searchbar {
    width: 515px;
  }
}

@media (max-width: 570px) {
  .first .container,
  .second .container {
    padding: 0 50px;
  }

  .third {
    height: 200px;
  }

  .third .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 30px;
  }

  .third .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third .middle {
    gap: 10px;
  }

  .fourth .right {
    display: flex;
    flex-direction: column;
  }

  .fourth .left {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .first .right {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .first {
    height: 180px;
  }

  .second {
    height: 130px;
  }

  .second .content {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
  }

  .first .container {
    padding: 0 30px;
  }

  .third {
    height: 230px;
  }

  .third .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 30px;
  }

  .third .heading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third .middle {
    gap: 10px;
  }

  .fourth .right {
    display: flex;
    flex-direction: column;
  }

  .fourth .left {
    display: flex;
    flex-direction: column;
  }

  .fifth .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
    width: 100vw;
  }

  .fifth .right .searchbar {
    width: 304px;
  }
}

@media (max-width: 810px) {
  .fourth .right {
    display: flex;
    flex-direction: column;
  }

  .fourth .left {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 810px) {
  .fourth .container {
    gap: 15px;
  }

  .fourth .searchbar {
    width: 600px;
  }
}

@media (min-width: 1080px) {
  .fourth {
    height: 80px;
  }
  .fourth .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .fourth .searchbar {
    width: 250px;
  }
}
