@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.first {
  height: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.first .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 120px;
}

hr {
  width: 82.5%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.first .container .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first .heading .title,
.third .heading .title {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  font-weight: 400;
}

.first .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.first .btn.active,
.second .btn.active {
  border: none;
  outline: none;
  background-color: #0d6efd;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.first .btn,
.second .btn {
  border: none;
  outline: none;
  color: #0d6efd;
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.second {
  height: 80px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.second .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 120px;
}

.second .content {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.third {
  height: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.third .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 120px;
}

.third .middle {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.third .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.third .btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1a1e21;
  cursor: pointer;
}

.third .btn.active {
  color: #565e64;
}

.third .blue-btn-outline {
  outline: none;
  background-color: #fff;
  border: 1px solid #0d6efd;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #0d6efd;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.third .blue-btn-outline:hover {
  background-color: #0d6efd;
  color: #fff;
}

.third .blue-btn-filled {
  outline: none;
  border: none;
  background-color: #0d6efd;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.third .blue-btn-filled:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

@media (max-width: 1200px) {
  .first .container {
    padding: 0 130px;
    justify-content: space-between;
  }
}

@media (max-width: 868px) {
  .first .container {
    justify-content: space-between;
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  .first {
    height: 140px;
  }

  .first .container {
    flex-direction: column;
    padding: 0 100px;
    overflow: hidden;
  }
}

@media (max-width: 570px) {
  .first .container,
  .second .container {
    padding: 0 50px;
  }
}

@media (max-width: 490px) {
  .first .right {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .first {
    height: 180px;
  }

  .second {
    height: 130px;
  }

  .second .content {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
  }

  .first .container {
    padding: 0 30px;
  }
}
